.fondoblanco {
  background-color: inherit;
}

.separacion {
  padding-top: 20px;
}

#rosa {
  color: #FE2EC8;
}

.pjustificada {
  text-align: justify;
}

#readmore {
  color: #FE2EC8;
  text-align: left;
}

.separacionpeque {
  padding-top: 10px;
}

.botonrosa {
  background-color: #FE2EC8;
}

.botongris {
  background-color: #E6E6E6;
  color: #000;
}

#Jonathan {
  color: #BDBDBD;
}

.azulflojo {
  background-color: #81F7F3;
}
.azulfuerte {
  background-color: #8181F7;
}
.amarillo {
  background-color: #F3F781;
}
.rojo {
  background-color: #FA5858;
}
.naranja {
  background-color: #FAAC58;
}
.verde{
  background-color: #81F781;
}
.gris {
  background-color: #A4A4A4;
}
